---
import Hero from '@/components/Hero.astro';
import MainPainelGrid from '@/components/MainPainelGrid.astro';
import PainelNumbers from '@/components/PainelNumbers.astro';
import Navigation from '../components/Navigation.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<main class="py-5 flex flex-col gap-10">
		<Navigation />
		<Hero />
		<MainPainelGrid />
		<PainelNumbers />
	</main>
</BaseLayout>
