---
import Hero from '@/components/Hero.astro';
import Navigation from '../components/Navigation.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
	<div class="px-10 py-5 flex flex-col gap-20">
		<Navigation />
		<Hero />
	</div>
</BaseLayout>
