---
import { Button } from "@/components/ui/button";
import '../styles/global.css';
---

<div class="text-[#5c2e4a] flex flex-col gap-5 w-8/12">
  <h1 class="text-2xl md:text-3xl lg:text-4xl font-bold ">AMPLIFICAMOS IDEIAS, EMOÇÕES <br />E EXPERIÊNCIAS ATRAVÉS DO DESIGN</h1>
  <p>uma agência de design especializada em criar experiências visuais que ressoam com a potência do entretenimento ao vivo. Mais do que comunicar, amplificamos emoções.</p>
  <p>Transformamos histórias em identidade, palcos em narrativas visuais e marcas em experiências memoráveis.</p>
  <Button className="bg-[#5c2e4a] hover:bg-[#492c3f] text-white w-50 cursor-pointer">O que fazemos?</Button>
</div>