---
import '../styles/global.css';
---

<nav class="hidden md:block px-10">
  <ul class="mx-auto flex gap-2 md:gap-4 justify-start md:justify-center">
    <li class="bg-orange-500  hover:bg-orange-600 transition-colors px-4 py-2 rounded cursor-pointer">
      <a href="/" class="text-[#5c2e4a] text-xs font-medium whitespace-nowrap flex items-center h-full w-full">SOBRE NÓS</a>
    </li>
    <li class="bg-orange-500  hover:bg-orange-600 transition-colors px-4 py-2 rounded cursor-pointer">
      <a href="/" class="text-[#5c2e4a] text-xs font-medium whitespace-nowrap">CENOGRAFIA</a>
    </li>
    <li class="bg-orange-500  hover:bg-orange-600 transition-colors px-4 py-2 rounded cursor-pointer">
      <a href="/" class="text-[#5c2e4a] text-xs font-medium whitespace-nowrap flex items-center h-full w-full">CAMPANHAS</a>
    </li>
    <li class="bg-orange-500  hover:bg-orange-600 transition-colors px-4 py-2 rounded cursor-pointer">
      <a href="/" class="text-[#5c2e4a] text-xs font-medium whitespace-nowrap flex items-center h-full w-full">KV'S</a>
    </li>
    <li class="bg-orange-500  hover:bg-orange-600 transition-colors px-4 py-2 rounded cursor-pointer">
      <a href="/" class="text-[#5c2e4a] text-xs font-medium whitespace-nowrap flex items-center h-full w-full">ONLINE</a>
    </li>
    <li class="bg-orange-500  hover:bg-orange-600 transition-colors px-4 py-2 rounded cursor-pointer">
      <a href="/" class="text-[#5c2e4a] text-xs font-medium whitespace-nowrap flex items-center h-full w-full">MERCHAN</a>
    </li>
    <li class="bg-orange-500  hover:bg-orange-600 transition-colors px-4 py-2 rounded cursor-pointer">
      <a href="/" class="text-[#5c2e4a] text-xs font-medium whitespace-nowrap flex items-center h-full w-full">EDITORIAL</a>
    </li>
    <li class="bg-orange-500  hover:bg-orange-600 transition-colors px-4 py-2 rounded cursor-pointer">
      <a href="/" class="text-[#5c2e4a] text-xs font-medium whitespace-nowrap flex items-center h-full w-full">CONTATO</a>
    </li>
  </ul>
</nav>

<nav class="md:hidden">Mobile</nav>